<section id="{{ section.section_id }}" class="page-section {{ section.background_style }}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0">{{ section.title }}</h2>
        <hr class="divider my-4">
        <p class="text-muted mb-5">{{ section.text }}</p>
        <form action="https://formcarry.com/s/4T13S9tj6m" method="POST" accept-charset="UTF-8" >
        <input type="email" name="email"><!-- use this to reply visitors and prevent spam via akismet -->
        <input type="text" name="firstName">
        <input type="text" name="lastName">
        <input type="text" name="anotherInput">
        <input type="hidden" name="_gotcha"><!-- use this to prevent spam -->
        </form>
        
        
      </div>
    </div>
    <div class="row justify-content-center">
      {% for action in section.actions %}
      {% assign fa = action.icon_type | default: "fas" %}
      <div class="col ml-auto text-center">
        <i class="{{ fa }} {{ action.icon }} fa-3x mb-3 text-muted"></i>
        <a class="d-block" href="{{ action.url }}">{{ action.title }}</a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
