<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ProfessionalService",
  "name": "{{ site.title }}",
  "url": "{{ site.url }}{{ site.baseurl }}",
  "description": {{ site.description | strip_newlines | jsonify }},
  "image": "{{ '/assets/img/members/Goldberg_headshot3.webp' | absolute_url }}",
  "areaServed": "{{ site.area_served }}",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "{{ site.address_locality }}",
    "addressRegion": "{{ site.address_region }}"
  },
  "founder": {
    "@type": "Person",
    "name": "{{ site.author }}",
    "jobTitle": "{{ site.job_title }}",
    "url": "{{ site.url }}{{ site.baseurl }}",
    "image": "{{ '/assets/img/members/Goldberg_headshot3.webp' | absolute_url }}",
    "sameAs": [
      "{{ site.social.linkedin }}"
    ]
  },
  "sameAs": [
    "{{ site.social.linkedin }}"
  ],
  "hasOfferCatalog": {
    "@type": "OfferCatalog",
    "name": "Consulting services",
    "itemListElement": [
      {% for item in site.data.expertise %}
      {
        "@type": "Offer",
        "itemOffered": {
          "@type": "Service",
          "name": {{ item.title | jsonify }},
          "description": {{ item.description | jsonify }}
        }
      }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
  },
  "review": [
    {% for t in site.data.testimonials %}
    {
      "@type": "Review",
      "reviewBody": {{ t.quote | strip_newlines | jsonify }},
      "author": {
        "@type": "Person",
        "name": {{ t.name | jsonify }}
      }
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
}
</script>
